<!DOCTYPE html>
<html lang="pt-br">
    

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Inicio - Pizza Dude</title>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- ===== ICONS ===== -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="css/styles.css" />

</head>

<body>

  <main>

    <article class="login">
      <div class="login_content">
        <div class="p-4 d-flex flex-column justify-content-center align-items-center">
          
          <header class="py-4">
            <img class="d-block my-2" src="img/logo" alt="logotipo" width="250rem">
            <p class="h5"> Para prosseguir, faça seu login </p>
          </header>

          <form class="w-100" method="POST" enctype="multipart/form-data">
            <div class="form-group mb-3">
              <label for="login"><i class="fas fa-user"></i>&nbsp;Login:</label>
              <input type="text" name="login" class="form-control" id="login" placeholder="Digite seu login"
                maxlength="32">
            </div>

            <div class="form-group mb-3">
              <label for="password"><i class="fas fa-lock"></i>&nbsp;Senha:</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Digite sua senha">
            </div>

            <div class="px-4">
              <button type="submit" name="login" style="background-color: #f67a46; border: none;"
                class="btn btn-success w-100 btn-lg">Entrar</button>
            </div>
          </form>
        </div>
      </div>
    </article>

  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>