<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>Vizualizar Tela - Pizza Dude</title>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- ===== ICONS ===== -->
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <!-- ===== CSS ===== -->
  <link rel="stylesheet" href="css/styles.css" />

</head>

<body>

  <main class="container">

    <div class="box-content">
      <h2><i class="fas fa-users"></i> Clientes Cadastrados</h2>
      <div class="wraper-table">
        <table>
          <tr>
            <td>Nome</td>
            <td>Cargo</td>
            <td>E-mail</td>
            <td>Telefone</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
            <td>#</td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

          <tr>
            <td>Tayuane B</td>
            <td>CEO</td>
            <td>exemple@exemple.com</td>
            <td>+55 (11) 96875-2047</td>
            <td><a class="btn edit" href="#"><i class="fas fa-pencil-alt"></i> Editar</a></td>
            <td><a actionBtn="delete" class="btn delete" href="#"><i class="fas fa-times"></i> Excluir</a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-up"></i></a></td>
            <td><a class="btn order" href="#"><i class="fa fa-angle-down"></i></a></td>
          </tr>

        </table>
      </div>

      <div class="paginacao">
        <a class="page-selected" href="#">1</a>
        <a class="page-selected" href="#">2</a>
        <a class="page-selected" href="#">3</a>
        <a class="page-selected" href="#">4</a>
        <a class="page-selected" href="#">5</a>
      </div>


    </div>

  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>